<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongcheng.techinnovte.mapper.PlatCustLabelMapper">
    <select id="checkRepeat" parameterType="com.hongcheng.techinnovte.pojo.dto.PlatCustLabelDto" resultType="com.hongcheng.techinnovte.entity.PlatCustLabel">
        SELECT * FROM PLAT_CUST_LABEL 
        <where>
            ENABLED = 1 AND NAME = #{label.name}
            <if test="label.id != null">
                AND ID &lt;&gt; #{label.id}
            </if>
        </where>
    </select>
</mapper>
